.contact-form {
  display:flex;
  flex-direction: column;
  padding: 20px;
}

.inputs {
  padding: 10px;
  border-radius: 5px;
}

.code {
  background-color: lightgrey;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;}

.button-cancel {
  padding: 5px;
  color:  red;
  gap: 15px;
}

.button-submit {
  color:  blue;
}