.navbar {
  display: flex;
  justify-content: space-around;
}
.contact-form {
  display:flex;
  flex-direction: column;
  padding: 20px;
}

.inputs {
  padding: 10px;
  border-radius: 5px;
}

.code {
  background-color: lightgrey;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;}

.button-cancel {
  padding: 5px;
  color:  red;
  gap: 15px;
}

.button-submit {
  color:  blue;
}

.pane {
  overflow-y: auto;
  padding: 40px;
}

.editor {
  width: 80%;
  height: 100vh;
}

